body{
    margin:0;
}
.gameContainer{
    /* background-color: #bf9ee9; */
    background: linear-gradient(#e88c8c, #9198e5);
    width:100%;
    height: 800px;
}
.rowContainer{
    
    display: flex;
    justify-content: center;
    min-width: 420px;
    /* margin-top: 50px; */
}
.row{
    max-width: 450px;
    display: flex;
    flex-wrap: wrap;
    color:red;
    justify-content: center;
}

.gameHeading{
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 15px;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}
.blueChessSquare{
    position: relative;
    display: flex;
    width: 100px;
    height: 100px;
    border: 1px solid black;
    background-color: rgb(167, 173, 178);
}
.whiteChessSquare{
    position: relative;
    display: flex;
    width: 100px;
    height: 100px;
    border: 1px solid black;
    background-color: rgb(255, 255, 255);
}
.image{
    margin: 15px;
}
.killButton{
    background-color: red;
    position: absolute;
    top: 0px;
    left:0px;
    width: 15px;
    height: 15px;
    border-radius: 50px;
}
.moveButton{
    background-color: #84ba3f;
    width: 15px;
    height: 15px;
    position:absolute;
    top:0;
    right:0px;
    border-radius:50px ;
}
.redButton{
    background-color: red;
    margin-left: 7px;
    width: 15px;
    height: 15px;
    border-radius: 50px;
}
.gameHelpers{
    position: relative;
    width:400px;
    height: 120px;
    margin: auto;
}
img:hover{
    cursor: pointer;
}
.killButton:hover{
    cursor: pointer;
}
.instructions{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    width: 100%;
    height: 250px;
    background-color: #212529;
    margin-top: 25px;
    color: #FFFFFF80;
}
p{
    margin: auto ;
    margin-bottom: 0;
    margin-top: 5px;
    /* margin-left: 10px;
    margin-top: 3px;
    margin-bottom: 3px; */
}
.invalidMove{
    position: absolute;
    right:0;
    bottom: 3px;
    font-size: 13px;
}
.invalidMoveButton{
    color: red;
    background-color:white;
    padding: 8px 10px;
    font-size: 20px;
    border-radius: 10px;

}
.selectPiece{
    margin:0;
    text-align: center;
    color:rgb(68, 0, 255);
}
.selectLine{
    position: absolute;
    bottom: 5px;
    display:inline-block;
    font-size: 22px;
}



.cancelButton:hover{
    cursor: pointer;
}
h2{
    margin-bottom: 0px;
    font-family: 'Poppins', sans-serif;
}
.firstInstruction{
    margin-top: 30px;
    color:white
}
.newGame{
    position: relative;
}
.cancelButton{
    position: absolute;
    bottom: 50px;
    left: 0px;
    background-color: #84ba3f;
    padding: 8px 10px;
    color:#fff;
    font-size: 20px;
   
    border-radius: 10px;
    
}
.newGameButton{
    position: absolute;
    right: 0px;
    bottom:50px;
    background-color: #ba3f85;
    padding: 8px 10px;
    color:#fff;
    font-size: 20px;
    border-radius: 10px;
}
.instructions p{
    text-align: center;
}.winner{
    position: absolute;
    bottom:5px;
    right:0px;
    font-size: 28px;
    margin-bottom: 0;
}
span{
    font-size: 16px;
}

